<center>
<h2>RESERVATIONS APP</h2>
<h3>all visitors</h3>
 <body>
 	<button type="button" class="btn btn-default"><%= link_to 'Sign In', new_user_session_path, :method=>'create' %>
    </button>
    <button type="button" class="btn btn-default"><%= link_to 'Sign up', new_user_registration_path %>
    </button>
 </body>

</center>