<div class="bordered-box">
<h2>Covers</h2>

<table class="table" >
  <thead>
    <tr>
      <th>Covers</th>
      <th>Group</th>
      <th>Turn Time</th>
     </tr>
  </thead>
    <tbody>
      <% @venue.covers.each do |cover| %>
      <tr>
        <div id="covers"></div>
          <td><%= cover.covers %></td>
          <td><%= cover.covers_group %></td>
          <td><%= cover.turn_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to new_organisation_venue_cover_path(@organisation, @venue, @cover), 
      remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> New Cover
<%end%>


</div>