<body>
<h1><center>Run Sheet</center></h1>
	<%= render "bookings/runsheet", bookings: @booking %>

</body>

<!-- Modal form / New Channel Group -->
<div class="modal fade" id='new-booking-modal-form' role="dialog"></div>
<!-- Modal form / New Channel Group -->