.navbar-default {
	background-color: #FFFAFA;
	border: none;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

.btn-group{
	font-size: 20px;
	font-colour: black;
}

.venue {
	.navbar-default {
		background-color: #ADD6FF;
		border: 1px solid #5CB8E6;
		border-radius: 0px;

	.navbar-collapse {
		padding: 5px;
	
	.dropdown {
		font-color: black;
		margin-top: 2px;		
		width: 120px;
	}
	
	.navbar-btn {
		margin-top: 10px;
		border-radius: 5px;
		width: 100px;
		font-color: black;
	}
}
}


}